<br>
<h2>Eventos</h2>
<hr>

<div class="mb-2">
  <input type="text"
  [(ngModel)]="filtroLista"
  class="form-control"
  aria-label="Small"
  aria-describedby="inputGroup-sizing-sm"
  placeholder="buscar...">
</div>



<!-- <form class="form-inline">
<div class="form-group mb-2">
  <label class="">Filtro: </label>
  <input type="text" class="form-control mr-2" placeholder="buscar..." >
</div>
</form> -->

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th> <!--botão de collapse para imagens-->
      <button type="button" class="btn btn-outline-secondary btn-sm" (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">{{isCollapsed ? "Mostrar" : "Ocultar"}}
      </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>

<tbody *ngIf="eventos.length!=0">
  <tr *ngFor="let evento of eventosFiltrados">
    <td>
    <img class="foto-palestra" [collapse]="isCollapsed" [isAnimated]="true" src="/assets/{{evento.imagemURL}}" alt="Foto palestra">
    </td>
    <td>{{evento.eventoId}}</td>
    <td>{{evento.tema}}</td>
    <td>{{evento.local}}</td>
    <td>{{evento.dataEvento}}</td>
    <td>{{evento.qtdPessoas}}</td>
    <td>{{evento.lote}}</td>
    <td>
      <button type="button" class="btn btn-primary btn-sm me-2">Editar</button>
      <button type="button" class="btn btn-danger btn-sm">Excluir</button>
    </td>
  </tr>
</tbody>
<tfoot *ngIf="eventos.length==0">
  <tr>
    <td colspan="8">
      <p><i>Nenhum evento encontrado!</i></p>
    </td>
  </tr>
</tfoot>
</table>


