<app-titulo [titulo]="'Perfil'" [iconClass]="'fa-id-badge'"></app-titulo>

<p>{{form.value | json}}</p>
<p>{{form.status | json}}</p>
<p>{{form.errors | json}}</p>
<p>{{f.senha.errors | json}}</p>


<div class="card rounded shadow-sm">
  <div class="row p-3">
    <div class="col-lg-3">
      <div class="card pt-2">
        <img class="card-img-top"
        src="@app/../assets/img_caio.jpeg"
        alt="Card image cap" name="aboutme" width="150" height="150" class="rounded-circle">


        <div class="card-body">
          <h3 class="card-title text-center">@cafcaio</h3>
          <h5 class="card-title text-center">Caio Costa</h5>
          <p class="card-text text-center">Aprendendo a programar!</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-center"># Eventos ministrados</li>
          <li class="list-group-item text-center"># Eventos participados</li>
        </ul>
      </div>
    </div>

    <div class="perfil col-lg-9 d-flex align-items-center">
      <form class="row gy-3" [formGroup]="form">
        <div class="col-lg-4">
          <label for="inputTitulo" class="form-label">Título</label>
          <select class="form-select" id="inputTitulo" [ngClass]="{'is-titulo': f.titulo.errors && f.titulo.touched}" formControlName="titulo">
            <option value="">N/A</option>
            <option value="Tecnologo">Tecnólogo(a)</option>
            <option value="Bacharel">Bacharel</option>
            <option value="Especialista">Especialista</option>
            <option value="PosGraduado">Pós-Graduado(a)</option>
            <option value="Mestre">Mestre</option>
            <option value="Doutor">Doutor(a)</option>
            <option value="PosDoc">Pós-Doutorado</option>
          </select>
        </div>
        <div class="col-lg-4">
          <label for="inputPrimeiroNome" class="form-label">Primeiro Nome</label>
          <input type="text" class="form-control" [ngClass]="{'is-invalid': f.primeiroNome.errors && f.primeiroNome.touched}" id="inputPrimeiroNome" formControlName="primeiroNome">
          <div class="invalid-feedback">
            Primeiro Nome é obrigatório
          </div>
        </div>
        <div class="col-lg-4">
          <label for="inputUltimoNome" class="form-label">Último nome</label>
          <input type="text" class="form-control" [ngClass]="{'is-invalid': f.ultimoNome.errors && f.ultimoNome.touched}" id="inputUltimoNome" formControlName="ultimoNome">
          <div class="invalid-feedback">
            Último Nome é obrigatório
          </div>
        </div>
        <div class="col-lg-4">
          <label for="inputEmail" class="form-label">E-mail</label>
          <input type="email" class="form-control" [ngClass]="{'is-invalid': f.email.errors && f.email.touched}" id="inputEmail" formControlName="email">
          <div class="invalid-feedback" *ngIf="f.email.hasError('required')">
            E-mail é obrigatório
          </div>
          <div class="invalid-feedback" *ngIf="f.email.hasError('email')">
            E-mail inválido
          </div>
        </div>
        <div class="col-lg-4">
          <label for="inputTelefone" class="form-label">Telefone celular</label>
          <input type="text" class="form-control" [ngClass]="{'is-invalid': f.telefone.errors && f.telefone.touched}" id="inputTelefone" formControlName="telefone">
          <div class="invalid-feedback" *ngIf="f.telefone.hasError('required')">
            Telefone é obrigatório
          </div>
          <div class="invalid-feedback" *ngIf="f.telefone.hasError('pattern')">
            Telefone digitado é inválido
          </div>
        </div>
        <div class="col-lg-4">
          <label for="inputFuncao" class="form-label">Função</label>
          <select class="form-select" id="inputFuncao" [ngClass]="{'is-invalid': f.funcao.errors && f.funcao.touched}" formControlName="funcao">
            <option value=""></option>
            <option value="Participante">Participante</option>
            <option value="Palestrante">Palestrante</option>
          </select>
          <div class="invalid-feedback">
            Escolha é obrigatória
          </div>
        </div>
        <div class="col-lg-12">
          <label for="inputDescricao" class="form-label">Descrição</label>
          <input type="email" class="form-control" [ngClass]="{'is-invalid': f.descricao.errors && f.descricao.touched}" id="inputDesc" formControlName="descricao">
          <div class="invalid-feedback" *ngIf="f.descricao.hasError('required')">
            Descrição é obrigatória
          </div>
          <div class="invalid-feedback" *ngIf="f.descricao.hasError('minlength')">
            Mínimo de 10 caracteres.
          </div>
        </div>

        <div class="row mt-4">
          <label class="form-label" style="font-size: 30px;">Mudar senha</label>
          <div class="col-lg-6">
            <label for="inputEmail4" class="form-label">Nova senha:</label>
            <input type="password" class="form-control" [ngClass]="{'is-invalid': f.senha.errors && f.senha.touched}" id="inputEmail4" formControlName="senha">
            <div class="invalid-feedback" *ngIf="f.senha.errors">
              Senha deve ter no mínimo 6 caracteres
            </div>
          </div>
          <div class="col-lg-6">
            <label for="inputEmail4" class="form-label">Confirmar senha:</label>
            <input type="password" class="form-control" [ngClass]="{'is-invalid': f.confirmarSenha.errors}" id="inputEmail4" formControlName="confirmarSenha">
            <div class="invalid-feedback" *ngIf="f.confirmarSenha.hasError('mustMatch')">
              Senha não confere
            </div>
          </div>
        </div>

      </form>



    </div>



  </div>

  <div class="card-footer mt-4 p-2">
    <div class="d-flex">
      <button type="button" class="ms-auto btn btn-secondary">Cancelar</button>
      <button type="button" class="btn btn-success ms-2">Aplicar</button>
    </div>
  </div>

</div>




